
<div class="notice success">
  <%= image_tag "icon-ok.png" %>
  <div class="content">
  	<span><%=@email%></span><br>已经绑定成功。
  </div>
  <a class="btn" href="<%=url_for(:controller=>:register,:action=>:rebind,:email=>@email)%>">重新绑定</a>
 <div><a href="native://exitView">返回</a></div>
</div>
